# from .gitignore
**/build
**/dist
**/scripts
src/fb
src/experimental
**/TARGETS
**/__pycache__
**/*.egg-info
**/*.cpython-*.so
**/.DS_Store

# others
.dockerignore
.circleci/
.github/
.gitignore
docker-compose.yml
Dockerfile*
LICENSE
*.md